QWidget {
    background-color: #2E2E2E;
    color: white;
}

QTreeView, QListView {
    background-color: #3E3E3E;
    border: none;
}

QPushButton {
    background-color: #5E5E5E;
    border: 1px solid #4E4E4E;
    color: white;
}

QLineEdit, QComboBox {
    background-color: #4E4E4E;
    color: white;
    border: 1px solid #5E5E5E;
}
